* {
    margin: 0 auto;
    padding: 0 auto;
}

main h1 {
    margin-top: 1em;
    margin-bottom: 1%;
}

main h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
 main h3 {
    margin-top: 1em;
    margin-top: 0;
 }

div {
    width: 10%;
    height: 1.5em;
}

  main a:hover {
    background-color: #075b07e8;
    color: white;
    font-weight: lighter;
 }

main a {
   display: flex;
   max-width: 100%;
   max-height: 2em;
   min-height: auto;
   margin-top: 1%;
}

 i {
   text-align: center;
   align-items: center;
 }